# Virtual environments
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
build/
dist/
*.egg-info/

# Editor/IDE
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Testing / tooling
.pytest_cache/
.mypy_cache/

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Databases / raw data (optional)
# If you want to keep raw dataset files tracked, remove or comment out the next two lines
# data/raw/
/data/raw/AmItheAsshole.sqlite
/data/preprocessed/redditAITA.csv
/data/preprocessed/redditAITA_test.csv
/data/preprocessed/redditAITA_train.csv
# *.db

# Local overrides
local_settings.py
